<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606783957508-56srfdmb3mbfrsf7g87elc51v73rauqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606783957508-56srfdmb3mbfrsf7g87elc51v73rauqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAYWG7_khySY5K_ILvSrFCtAXwSjESQ2mE</string>
	<key>GCM_SENDER_ID</key>
	<string>606783957508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloFlutter</string>
	<key>PROJECT_ID</key>
	<string>codepie-5add8</string>
	<key>STORAGE_BUCKET</key>
	<string>codepie-5add8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606783957508:ios:f0c86944b6c2f8d0132351</string>
</dict>
</plist>